.profile-pic {
    max-width: 100px;
    max-height: 100px;
    float: left; 
}

.post-content {
    white-space: pre-wrap;
}

/* img {
    max-width: 100px;
    max-height: 100px;
    float: left;
} */