{% extends "base.html" %}

{% block title %}BLOGLY TIME{% endblock %}

{% block content %}

    <h1>Create a User</h1>
    <form method="POST">
        First Name<br>
        <input type="text" name="first-name"><br><br>
        Last Name<br>
        <input type="text" name="last-name"><br><br>
        Image URL<br>
        <input type="text" name="image-url">
        <div class="mt-2">
            <input class="btn btn-success btn-sm" type="submit" value="Add">
            <a href="/users" class="btn btn-secondary btn-sm">Cancel</a>
        </div>
    </form>


{% endblock %}