{% extends "base.html" %}

{% block title %}BLOGLY TIME{% endblock %}

{% block content %}

    <h3>Edit Post</h3>
    <form method="POST">
        Title<br>
        <input type="text" name="title" value="{{ post.title }}"><br><br>
        Content<br>
        <textarea name="content" rows="5" cols="33">{{ post.content }}</textarea>
        <div>
            <button class="btn btn-primary btn-sm">Edit</button>
            <a href="/users/{{ post.user.id }}" class="btn btn-secondary btn-sm">Cancel</a>
        </div>
        
    </form>

{% endblock %}