{% extends "base.html" %}

{% block title %}BLOGLY TIME{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}

    {% for category, message in messages %}
        <p class="alert alert-{{ category }}">{{ message }}</p>
    {% endfor %}

    {% endwith %}

    <div class="profile-pic mr-10"> 
        <img class="profile-pic" src="{{ user.image_url }}" alt="">
    </div>
   

    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
    <div>
        <a href="/users/{{ user.id }}/edit" class="btn btn-info btn-sm">Edit</a>
        <form style="display: inline;" method="POST" action="/users/{{ user.id }}/delete">
            <button class="btn btn-danger btn-sm">Delete</button> 
        </form>
    </div>
    <br>
    <br>

    <h3>Posts</h3>

    <ul>
        {% for post in sorted_posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
    <a href="/users/{{ user.id }}/posts/new" class="btn btn-primary btn-sm">Add Post</a>

{% endblock %}